<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ipse</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="static/favicon.ico?v=2">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
</head>
<body>
   <header>
    <navbar id="navigate">
        <a href="home.html" id="bitmoji"><img src="static/my-bitmoji.png" alt="My bitmoji" id="profile"></a>
        <a href="#" id="links">Get in touch</a>
        <a href="#" id="links">My Projects</a>
        <a href="#" id="links">About</a>
    </navbar>
   </header>
    <br>
    <br>
    <img src="static/images/CSS - My Site Images/cloud.png" alt="" class="cloud" id="top-cloud">
    <img src="static/images/CSS - My Site Images/cloud.png" alt="" class="cloud" id="bottom-cloud">
                
    <section name="home" class="homepage">
        <div id="box">
            <div id="titles">
                <h1 id="name">Hey, I'm Karen</h1>
                <p>A software engineer</p>
                <img src="static/images/CSS - My Site Images/mountain.png" alt="" id="mountain">
            </div>
            <br>
            <br>
            <div class="flex-container">
                <div>
                    <button class="button">My Projects</button>
                </div>
            </div>
        </div>
        <br>
    </section>
    <br>
    <hr>
    <br>
    <section name="about" class="aboutpage">
        <div class="me" id="box">
            <div>
                <h2 id="titles" class="education">Education</h2>
                <img src="static/images/CSS - My Site Images/grad.jpeg" alt="" id="education-image">
                <ul>
                    <li>KCPE: Brightstars Academy, Eldoret</li>
                    <li>KCSE: Limuru Girls' School</li>
                    <li>Bsc. Telecommunications and Information Engineering: Jomo Kenyatta University of Agriculture and Technology</li>
                </ul>
            </div>
            <br>
            <hr>
            <div>
                <h2 id="titles" class="skills">Skills</h2>
                <img src="static/images/CSS - My Site Images/skills.webp" alt="" id="skills-image">
                <ul>
                   <li>Frontend web develoment:
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                        </ul>
                    </li>
                    <li>C programming</li>
                </ul>
                <p>I have also worked on IOT projects and have knowledge on using microprocesssors like arduino and the esp32</p>
            </div>
            <br>
            <hr>
            <div>
                <h2 id="titles" class="experience">Experience</h2>
                <img src="static/images/CSS - My Site Images/work.png" alt="" id="work-image">
                <li><a href="https://gearbox.ke/academy/" target="_blank">Gearbox Academy</a>
                    : I was part of the fifth cohort at Gearbox academy. A three month training program where I gained hands on practical and technical skills.
                    <p>Check out some of my projects <a href="#">here</a></p>
                </li>
            </div>
        </div>
    </section>
    <br>
    <hr>
    <section class="Contacts" id="box">
        <div class="me" id="contact-me">
            <h2 id="titles">Get In Touch</h2>
            <p>I would love to hear from you</p>
            <a class="btn" href="mailto:langatkarenn@gmail.com">CONTACT ME</a>
          </div>
        </div>
        <br>
        <div id="bottom-container">
          <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
          <a class="footer-link" href="https://twitter.com/">Twitter</a>
          <a class="footer-link" href="#">Website</a>
          <p>© 2022 Name Surname.</p>
        </div>
    </section>
</body>
</html>