<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome</h2>
    <form>
        <div>
            <div>
                <label for="fname">Name:<input type="text"></label>
            </div>
            <div>
                <label for="fpass">Password:<input type="password"></label>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</body>
</html>